[submodule ".helix"]
	path = .helix
	url = git@github.com:Bli-AIk/kristal-helix-config.git
[submodule "libraries/wave-video-debug"]
	path = libraries/wave-video-debug
	url = git@github.com:Bli-AIk/kristal-wave-video-visuals-debug.git
[submodule "libraries/langLib_zh_hans"]
	path = libraries/langLib_zh_hans
	url = https://github.com/Bli-AIk/kristal-langlib-zh-hans.git
[submodule ".emacs"]
	path = .emacs
	url = https://github.com/Bli-AIk/kristal-emacs-config.git
